
.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.friends{
    display: flex;
    justify-content: space-between;
}

.friend{
    text-align: center;
    color:white;
    font-size: 10px;
}

.friend img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
