.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
;
}

.dialogsItems {
    display: grid;
    grid-row-gap:5px ;
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    display: flex;
    align-items: center;
}

.dialog img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.messages {
    padding: 10px;
}

.message {
    color: white;
}
